body{
    background-color: black;
    color: white;
}
.top{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    padding-right: 3%;
}
h1{/*find a way to remove the flex so it doesn't stretch all the way*/
    border-left: 3px solid gray;
    padding-left: 10px;
    margin-left: 3%;
}
h1:hover{
    border-left-color:rgb(69, 68, 68) ;
}
.theme{
    flex-shrink: 0;
    justify-content: end;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 1px solid white;
    color: white;
}
.sitedesc{
    margin-left: 3%;
}
nav{
    text-align: right;
    margin-bottom: 20px;
}
.nav{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.nav:hover{
    color: gray;
}
.img{
    display: flex;
    aspect-ratio: 4/3;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s;
}
img:hover{
    transform: scale(1.05);
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    padding: 0 3%;
    gap: 20px;
}

article{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(26, 25, 25);
}
article:hover{
    box-shadow: 0 8px 20px gray;
    transform: translateY(-8px);
}
.details{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 12px 15px;
}
.category{
    color: gray;
}
.rate{
    font-size: 14px;
}
span{
    color: #777;
    margin-left: 5px;
}
.cta{
    border: none;
    background-color: transparent;
    color:white;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-end;
}
.cta:hover{
    border-bottom: 1px solid white;
}

.light{
    background-color: rgb(236, 234, 234);
    color: black;
}
.light .nav{
    border-bottom: 1px solid black;
    color: black;
}
.light .nav:hover{
    color: rgb(139, 136, 136);
}
.light article{
    background-color: rgb(215, 214, 214);
}
.light article:hover{
    box-shadow: 0 8px 20px rgb(48, 48, 48);
}
.light .cta{
    color: black;
}
.light .cta:hover{
    border-bottom: 1px solid black;
}
.light .theme{
     border-bottom: 1px solid black;
    color: black;
}
.hidden { display: none; }